.demo-box{
    background-color: #ec5454;
    color: #ffff;
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 0.375rem;
    font-weight: bold;

}
.demo-box-alt{
    background-color: #0d8b50;
    color: #ffffff;
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 0.375rem;
    font-weight: bold;
}

.demo-box2{
    background-color: #e09de9;
    color: #ffff;
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 0.375rem;
    font-weight: bold;
}

